# fastqc
# picard
# salmon # Not available on osx-arm64
# orthofinder # Not available on osx-arm64
igv
biopython
requests
pandas
ipykernel
primer3-py
seaborn
matplotlib
ete3
pyensembl
pyfaidx
py3dmol
usalign
pybiolib
bali-phy
pymsaviz